@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 3000px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

:root {
  --main-color: #7ac7ff;
  --bg-color: #171a31;
  --secondary-bg: #0affff;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--secondary-bg);
  backdrop-filter: blur(50%);
}
.navbar .logo img {
  width: 200px;
  height: 50px;
  cursor: pointer;
}


.navbar .links {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.navbar .links a {
  margin-left: 1rem;
  color: #fff;
}

.navbar .links a:hover {
  color: #7ac7ff;
}

.navbar button {
  margin-left: 2rem;
}

.navbar .toggle-btn {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* hero section */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/baner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0 0 0;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .judul {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.hero .options {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  padding: 1rem 3rem;
  border-radius: 20px;
  margin-bottom: 1.8rem;
}

.hero .options a {
  margin-left: 3rem;
  font-size: 1rem;
  color: #000;
}

.hero .options i {
  position: absolute;
  font-size: 1.3rem;
}

.btn {
  appearance: none;
  background-color: var(--main-color);
  border: 0.125em solid var(--main-color);
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  /* line-height: normal; */
  margin: 0;
  /* min-height: 3.75em; */
  /* min-width: 0; */
  outline: none;
  padding: 0.5rem 1.9rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: #fff;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.hero svg {
  width: 100%;
}

/* card */
.regions,
.lodging,
.resorts {
  margin-top: 8rem;
  padding: 0 6rem;
  line-height: 30px;
  height: 100vh;
  /* background-color: crimson; */
}

.regions h3,
.lodging h3,
.resorts h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.regions p,
.loding p,
.resorts p {
  font-size: 1.2rem;
}
.garis {
  border-bottom: 3px solid var(--main-color);
  display: block;
  width: 5%;
  margin-bottom: 15px;
  position: absolute;
  left: 105px;
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 330px;
  height: 420px;
  transition: all 0.2s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  font-size: 30px;
  font-weight: 900;
  margin: 4rem 0 0 3rem;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  background: var(--secondary-bg);
  color: #fff;
}

.regions .containers img {
  height: 423px;
  width: 330px;
  border-radius: 10px;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.2s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

/* lodging section */
.lodging {
  background-image: url("../assets/Wave.svg");
  background-size: cover;
  background-position: center;
}

.cards {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  margin: 4rem 0 0 3rem;
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
  border-radius: 0.5rem;
}

.lodging .containers img {
  width: 298px;
  height: 150px;
  border-radius: 0.5rem;
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563eb;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: 0.3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

/* resorts */
.sort {
  margin-top: 4rem;
}

.kartu {
  width: 90%;
  height: 80vh;
  border-radius: 4px;
  background: rgba(33, 100, 100, 0.35);
  display: flex;
  gap: 5px;
  padding: .4em;
}

.kartu span {
  height: 80vh;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s;
  background: rgba(33, 100, 100, 0.35);
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  display: flex;
}

.kartu span:hover {
  flex: 4;
}

.kartu span img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  min-width: 14em;
  /* padding: .5em; */
  /* text-align: center; */
  transform: rotate(-90deg);
  transition: all .5s;
  /* text-transform: uppercase; */
  /* letter-spacing: .1em; */
}

.kartu span:hover img {
  transform: rotate(0);
}
  
/* footer */




@media screen and (max-width: 695px) {
  .navbar .logo {
    font-size: 0.8rem;
  }

  .navbar .links {
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    right: 0;
    padding: 1.6rem;
    background-color: blue;
    width: 100%;
  } 

  .navbar .links.active {
    display: none;
  }
  
  .navbar .links li {
    margin-bottom: 12px;
  }

  .navbar .links button {
    margin-top: 1rem;
  }

  .navbar .toggle-btn {
    display: block;
  }
}
